@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

body{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(51,77,16);
}

input#open{
    display: none;
}

.christmas-card{
    position: relative;
    width: 200px;
    height: 400px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: .3s;
}

.card-front{
    position: relative;
    background-color: white;
    width: 300px;
    height: 400px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13),30px 0 50px
                rgba(0,0,0,0.1);
    transition: .3s;
    right: 50px;
}

.card-front:before{
    content: "";
    position: absolute;
    width: 280px;
    height: 380px;
    background-color: #c94038;
    top: 10px;
    left: 10px;
}
.christmas-tree{
    position: absolute;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 160px solid #034247;
    top: 78px;
    left: 95px;
}
.christmas-tree:after{
    position: absolute;
    content: "";
    width: 100px;
    height: 48px;
    background-color: #c47f1a;
    left: -50px;
    top: 140px;
}
.christmas-tree:before{
    content: "";
    position: absolute;
    background-color: #a86d16;
    width: 50px;
    height: 25px;
    top: 130px;
    left: 20px;
    box-shadow: -90px 0 #a86d16;
}
.card-inside{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 400px;
    z-index: -1;
    left: -50px;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.card-inside:before{
    content: "";
    position: absolute;
    width: 280px;
    height: 380px;
    background-color: #c94038;
    top: 10px;
    left: 10px;
}

.open{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 6;
    cursor: pointer;
}

#open:checked ~ .card-front{
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.13),30px 0 50px
                rgba(0,0,0,0.1);
}


#open:checked ~ .card-front:before{
    z-index: 5;
    background: #c94038;
}
.text{
    position: absolute;
    color: white;
    font-family: 'Rochester', cursive;
    top: 263px;
    width: 200px;
    text-align: center;
    left: 30px;
    font-size: 30px;
}

.text:before {
    content: "Merry ChristMas!!";
    position: absolute;
    width: 80px;
    color: #333;
    text-align: center;
    line-height: 20px;
    top: -40.5px;
    left: 61px;
}

.text:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 20px solid #faa307;
    top: -185px;
    left: 108px;
}
.ribbon, .ribbon:before{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12.5px solid transparent;
    border-top: 12.5px solid transparent;
}

.ribbon{
    border-left: 10px solid #c94038;
    top: 205px;
    left: 74px;
}

.ribbon:before{
    content: "";
    border-right: 10px solid #c94038;
    left: 120px;
    top: -12.5px;
}

.ribbon:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    top: -25px;
    left: 21.5px;
    box-shadow: 5px -3px white, 10px -6px white, 15px -9px white,
                20px -12px white, 25px -15px white,
                30px -18px white,
                35px -21px white, 40px -24px white,
                45px -27px white, 50px -30px white,
                55px -33px white, 60px -36px white,
                15px -50px white, 20px -53px white,
                25px -56px white, 30px -59px white,
                35px -62px white, 40px -65px white,
                45px -68px white, 50px -71px white;
}

.star{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 13px solid #ffba08;
    border-left: 20px solid transparent;
    transform: rotate(35deg);
    top: 68px;
    left: 125px;
    animation:blink 1s ease-in-out infinite alternate;

}

@keyframes blink{
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}


.star:before{
    content: "";
    position: absolute;
    border-bottom: 13px solid #ffba08;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0;
    top: -9px;
    left: -11px;
    display: block;
    transform: rotate(-35deg);
}

.star:after{
    content: "";
    position: absolute;
    display: block;
    top: 0.75px;
    left: -20px;
    transform: rotate(-70deg);
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 13px solid #ffba08;
}

.balls{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #c94038;
    top: 185px;
    left: 127px;
    box-shadow: -30px -30px #c94038, -18px -74px #c94038;
}
.balls:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #f6b4b8;
    left: -20px;
    top: 10px;
    box-shadow: 15px -42px #f6b4b8,35px -85px #c94038;
}

.title{
    position: absolute;
    color: #333;
    font-size: 50px;
    font-family: 'Rochester', cursive;
    line-height: 25px;
    text-align: center;
    top: 50px;
    width: 200px;
    left: 50px;
}
.wishes{
    position: absolute;
    /*width: 150px;*/
    text-align: center;
    font-family: "Brush Script MT", serif;
    line-height: 27px;
    font-size: 30px;
    color: white;
    height: 300px;
    top: 36%;
    left: 30px;
}

.gift{
    position: absolute;
    border: 3px solid #333;
    width: 30px;
    height: 30px;
    left: 130px;
    top: 300px;
}

.gift:before, .gift:after{
    content: "";
    position: absolute;
    background-color: #333;
}

.gift:before{
    width: 30px;
    height: 3px;
    top: 14px;
    background-color: green;
}

.gift:after{
    height: 30px;
    width: 3px;
    left: 14px;
    background-color: green;
}

.bow{
    position: absolute;
}

.bow:before, .bow:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 3px solid #333;
    border-radius: 50%;
    top: -14px;
}

.bow:before{
    transform: skew(20deg, 10deg);
    left: 2px;
    background-color: green;
}

.bow:after{
    transform: skew(-20deg, -10deg);
    left: 15px;
    background-color: green;
}
.click{
    position: absolute;
    color: white;
    font-family: 'Rochester', cursive;
    top: 300px;
    width: 200px;
    text-align: center;
    left: 45px;
    font-size: 40px;
}
.fa-arrow-left{
    position: absolute;
    top: 550px;
    right: 323px;
    font-size: 30px;
}

.fa-arrow-right{
    position: absolute;
    top: 550px;
    right: 37px;
    font-size: 30px;
}
a{
    color: white;
    text-decoration: none;
}